@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .container {
    position: fixed;
    top: 0;
    left: -300%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: #0f1d45;
    padding: 4rem;
    width: 100%;
    height: 100%;
    @include transition;
    &.visible {
      left: 0;
    }
  }
}
