@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: row;
    max-width: $containerWidth;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4.5rem 0 10rem 0;
    overflow: hidden;
  }
  .wrapper {
    width: 100%;
  }
  .consultation {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 3.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info {
    display: flex;
    flex-direction: row;
    margin-top: 9rem;
  }
  .image {
    position: absolute;
    z-index: -1;
    width: 27.5rem;
    top: 10rem;
    left: 12.6rem;
    transition: 0.3s;
  }
}
@media (min-width: $pageWidth425) {
  .image {
    left: unset;
    right: 0;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    padding: 13.5rem 0 10rem 0;
  }
  .image {
    top: unset;
    bottom: 0rem;
    width: 38rem;
  }
  .wrapper {
    width: 60%;
  }
  .buttons {
    flex-direction: row;
  }
  .info {
    justify-content: space-between;
  }
}
@media (min-width: $pageWidth1440) {
  .container {
    padding: 13.5rem 0 10rem 0;
    min-height: calc(100svh - $headerHeight);
  }
  .consultation {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 5.85rem;
  }
  .image {
    top: unset;
    bottom: 0rem;
    width: 52.5rem;
  }
  .info {
    margin-top: 11rem;
  }
}
