@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 $containerPaddingX;
  }
}
@media (min-width: $pageWidth1440) {
  .container {
    padding: 0 $containerPaddingX;
  }
}
