@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .input {
    margin-top: 4.6rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background: transparent;
    border-bottom: 0.1rem solid #ffffff80;
    font-family: Montserrat, sans-serif;
    padding-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
    &::placeholder {
      color: #ffffff80;
    }
    &:focus,
    &:hover {
      color: #fff;
      border-bottom: 0.1rem solid #ffffff;
    }
  }
}
@media (min-width: $pageWidth1440) {
  .input {
    margin-top: 6.6rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
