@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 9.8rem;
    padding-left: 0.8rem;
    border-left: 0.2rem solid #ffffff60;
  }
  .heading {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    line-height: 2.25rem;
  }
  .subheadingMobile,
  .subheadingDesktop {
    font-size: 1rem;
    line-height: 1.3rem;
    color: $whiteColor;
    opacity: 0.5;
  }
  .subheadingDesktop {
    display: none;
  }
}
@media (min-width: $pageWidth1024) {
  .subheadingMobile {
    display: none;
  }
  .subheadingDesktop {
    display: block;
  }
}
