@import 'shared/constants/vars';

.container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding-left: 2.4rem;
  border-left: 0.2rem solid #ffffff60;
  width: 38rem;
}
.heading {
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  line-height: 5.65rem;
}
.subheading {
  font-size: 1.6rem;
  line-height: 1.95rem;
  color: $whiteColor;
  opacity: 0.5;
}
