$pageWidth320: 320px;
$pageWidth425: 425px;
$pageWidth768: 768px;
$pageWidth1024: 1024px;

$scrollBarWidth: 0.8rem;
$scrollBarBgColor: #d0d0d0;
$scrollBarHoverBgColor: #9a9a9a;

$backgroundColor: #141414;
$whiteColor: #fff;

$headerHeight: 8rem;
$containerWidth: 132rem;
$containerPaddingX: 1.6rem;

$lightBlueColor: #133456;
$blueColor: #07305d;
