@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4.5rem;
    background: transparent;
    margin-top: 5rem;
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 0.1rem solid $whiteColor;
    border-right: 0;
    transition: 0.3s ease-in-out;
  }
  .text {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $whiteColor;
    transition: 0.3s ease-in-out;
  }
  .hr {
    min-width: 2px;
    height: 100%;
    background: $whiteColor;
    transition: 0.3s ease-in-out;
  }
  .arrowContainer {
    min-height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0.5rem;
    border: 0.1rem solid $whiteColor;
    border-left: 0;
    transition: 0.3s ease-in-out;
  }
  .svg {
    width: 1.3rem;
    height: 1.3rem;
    path {
      stroke: $whiteColor;
      stroke-width: 0.2rem;
      transition: 0.3s ease-in-out;
    }
  }
}
@media (min-width: $pageWidth1024) {
  .button {
    &:hover {
      .textContainer {
        background: $whiteColor;
      }
      .text {
        color: $blueColor;
      }
      .hr {
        background: transparent;
      }
      .arrowContainer {
        background: $whiteColor;
      }
      .svg {
        path {
          stroke: $blueColor;
        }
      }
    }
  }
}
@media (min-width: $pageWidth1440) {
  .button {
    height: 7rem;
  }
  .text {
    display: block;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .arrowContainer {
    padding: 1.3rem;
  }
  .svg {
    width: 2rem;
    height: 2rem;
  }
}
