@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .cancel {
    width: 2rem;
    height: 2rem;
    align-self: end;
    justify-self: start;
    background: transparent;
  }
  .svg {
    width: 100%;
    height: 100%;
  }
}
