@import 'shared/constants/vars';

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 13rem;
    background: transparent;
    margin-top: 1rem;
    &.contained {
      .textContainer {
        background: $whiteColor;
      }
      .mobileText,
      .desktopText {
        color: $blueColor;
      }
      .hr {
        background: $blueColor;
      }
      .arrowContainer {
        background: $whiteColor;
      }
      .svg {
        path {
          stroke: $blueColor;
        }
      }
    }
    &:hover {
      .textContainer {
        background: $whiteColor;
      }
      .mobileText,
      .desktopText {
        color: $blueColor;
      }
      .hr {
        background: transparent;
      }
      .arrowContainer {
        background: $whiteColor;
      }
      .svg {
        path {
          stroke: $blueColor;
        }
      }
      &.contained {
        .textContainer {
          background: transparent;
        }
        .mobileText,
        .desktopText {
          color: $whiteColor;
        }
        .hr {
          background: $whiteColor;
        }
        .arrowContainer {
          background: transparent;
        }
        .svg {
          path {
            stroke: $whiteColor;
          }
        }
      }
    }
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 0.1rem solid $whiteColor;
    border-right: 0;
    transition: 0.3s ease-in-out;
  }
  .mobileText {
    display: block;
  }
  .desktopText {
    display: none;
  }
  .mobileText,
  .desktopText {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    color: $whiteColor;
  }
  .hr {
    min-width: 2px;
    height: 100%;
    background: $whiteColor;
    transition: 0.3s ease-in-out;
  }
  .arrowContainer {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0.5rem;
    border: 0.1rem solid $whiteColor;
    border-left: 0;
    transition: 0.3s ease-in-out;
  }
  .svg {
    width: 0.8rem;
    height: 0.8rem;
    path {
      stroke: $whiteColor;
      stroke-width: 0.2rem;
      transition: 0.3s ease-in-out;
    }
  }
}
@media (min-width: $pageWidth1024) {
  .mobileText {
    display: none;
  }
  .desktopText {
    display: block;
  }
}
